body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: normal;
}

p {
  text-align: center;
  font-size: 20px;
  color: blanchedalmond;
}

a p {
  color: aquamarine;
}

a {
  color: darkkhaki;
}
